@import url(https://fonts.googleapis.com/css?family=Raleway:200,400,700);
/*font-family: 'Raleway', sans-serif;*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,400);
/*font-family: 'Open Sans', sans-serif;*/

*{
	box-sizing: border-box;
}
body{
	font-family: sans-serif;
	margin: 0px;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.cleaner{
	clear: both;
}
nav{
	float: right;
}
nav li{
	display: inline-block;
	margin-left: 15px;
}
nav a{
	color: black;
}
header{
	background-color: white;
	max-width: 1200px;
	top: 0;
	left: 0;
	right: 0;
	z-index: 600;
	padding: 15px;
	margin: 0 auto;
}
p{
	font-family: 'Open Sans', sans-serif;
}
.contenedor-inicial{
	min-height: 900px;
	background: url(../images/indexbanner-bg3.jpg) no-repeat center top scroll;
}
/*----------------------------------------------------------------------------------------------------*/
/*-------------------------------------------CSS para Contact.html-----------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
.contenedor-inicial-contacto{
	min-height: 688px;
	background: url(../images/indexbanner-bg2.jpg) no-repeat center top scroll;
}
.contacto-formulario{
	text-align: center;
	max-width: 2000px;
	margin: auto;
}
.contacto-caja1{
	float: left;	
	width: 42%;
	margin-left: 5%;
}
.contacto-caja1 input,
.contacto-caja2 textarea{
	display: block;
	width: 100%;
	padding: 2%;
}
.contacto-caja1 input{
	height: 50px;
	margin-bottom: 50px;
	border: solid 1px gray;
	border-radius: 5px;
}
.contacto-caja2 textarea{
	height: 250px;
	border: solid 1px gray;
	border-radius: 5px;
}
.contacto-caja2{
	float: right;
	width: 42%;
	margin-right: 5%;
}
.boton{
	height: 50px;
	width: 200px;
	margin-bottom: 50px;
	color: white;
	background-color: blue;
	border-radius: 10px;
	border: none;
}
/*----------------------------------------------------------------------------------------------------*/
.wrapper{
	max-width: 1200px;
	margin: auto;
}
.main-title{
	color: #fff;
	font-size: 40px;
	margin: 280px 0 0;
	display: inline-block;
}
.main-title + p{
	color: #fff;
	font-size: 18px;
	width: 550px;
	line-height: 37px;
}
.buscador{
	position: relative;
	margin-top: 230px;
}
.buscador input[type=search]{
	width: calc(100% - 16.66%);
	height: 70px;
	border: solid 1px #ccc;
	font-family: inherit;
	font-size: 20px;
}
.buscador button{
	width: 16.66%;
	height: 70px;
	background-color: #63bbde;
	color: white;
	font-family: inherit;
	font-size: 20px;
	border: none;
	position: absolute;
	top: 0;
	right: 0;
}
.regular-updates{
	color: white;
}
.regular-updates p{
	color: #fff;
}
.servicios-destacados{
	margin-top: 100px;
}
.servicios-destacados article{
	text-align: center;
	width: 25%;
	float: left;
	padding: 0 25px;
	position: relative;
}
.servicios-destacados article img{
	width: 33.33%;
	transition: transform 550ms ease-in;
	-webkit-transition: all 550ms ease-in;
}
.servicios-destacados article:hover img{
	transform: rotate(360deg) scale(1.2);
	-ms-transform: rotate(360deg) scale(1.2);
	-webkit-transform: rotate(360deg) scale(1.2);
	box-shadow: 0 0 12px black; 
	border-radius: 50%;
}
.subtitle{
	text-align: center;
	font-size: 25px;
	margin: 80px 0 10px;
}
.subtitle + p{
	text-align: center;
	font-size: 15px;
	color: #333;
	margin-bottom: 80px;
}
.caracteristicas{
	float: left;
	width: 29.16%;
}
.caract-izq article{
	position: relative;
	text-align: right;
	padding-right: 60px;
}
.caract-izq article img{
	position: absolute;
	right: 0;
	top: 0;
}
.caract-der article{
	position: relative;
	padding-left: 60px;
}
.caract-der article img{
	position: absolute;
	left: 0;
	top: 0;
}
.imagen-mitad{
	float: left;
	width: 25%;
	margin: 0 8.33%;
}
.imagen-mitad img{
	width: 100%;
}
.contenedor-secundario{
	background: url(../images/pricing-bg.jpg) no-repeat center top scroll;
	text-align: center;
	margin-top: -80px;
}
.pricing-title{
	text-align: center;
	font-size: 48px;
	margin: 0;
	padding-top: 80px;
}
.pricing-title + p{
	text-align: center;
	color: #333;
}
.pricing-boxes{
	margin: 180px 0;
}
.box-price{
	width: 22.5%;
	float: left;
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	padding: 15px;
	margin-right: 3.33%;
}
.box-price table{
	width: 100%;
	text-align: center;
}
.box-price table h4{
	font-size: 16px;
	font-weight: 700;
	margin-top: 50px;
}
.box-price table h3{
	font-size: 70px;
	margin: 0;
	padding-top: 20px;
	line-height: 70px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.box-price table h3 i{
	font-family: normal;
}
.box-price table h3 sup{
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	font-weight:  400;
	position: relative;
	top: 5px;
}
.box-price table b{
	font-weight:  400;
	color: #7B7B7B;
	font-size: 14px;
	display: block;
	border-bottom: solid 1px #ccc;
	margin-top: -10px;
	padding-bottom: 18px;
}
.button-select-plan{
	border: none;
	border-radius: 5px;
	background-color: blue;
	color: white;
	width: 100%;
	height: 40px;
	margin-top: 20px;
	margin-bottom: 50px;
}
.last{
	margin-right: 0;
}
.blue-txt {
	color: blue;
}
.yellow-txt {
	color: yellow;
}
.orange-txt {
	color: orange;
}
.red-txt {
	color: red;
}
.pie-de-pagina{
	background-color: rgb(21,29,38);
	color: white;
	max-width: 2000px;
	margin: auto;
}
.hosting span{
	color: rgb(0,175,241);
	font-weight: 900;
}
.hosting{
	background-color: rgb(35,49,65);
	text-align: center;
	color: white;
	height: 150px;
	padding: 50px;
}
.copyright{
	position: relative;
	padding: 20px 100px;
}
.copyright p{
	margin: 0;
}
.copyright nav{
	display: inline-block;
	float: left;
	position: absolute;
	top: 0;
	right: 0;
	padding: 20px 100px;
}
.copyright nav a{
	color: white;
}
/*----------------------------------------------------------------------------------------------------*/
/*-------------------------------------------Media Queries--------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
/*Tamaño Medium*/
/*Se ejecuta cuando la resolucion es menor que 860px*/
@media (max-width: 860px){
	.wrapper{
		width: 96%;
	}
	header nav{
		display: inline-block;
		float: none;
		margin-left: 60%;
	}
	.servicios-destacados article{
		width: 50%;
		min-height: 300px;
	}
	.subtitle{
		margin: 0;
	}
	.pricing-title{
		font-size: 28px;
		padding-top: 470px;
	}
	.pricing-boxes{
		margin-top: 5%;
	}
	.contenedor-secundario{
		margin-top: 2.5%;
	}
	.box-price{
		width: 45%;
		margin: 2.5%;
	}
	.copyright p{
		text-align: center;
	}
	.copyright nav{
		display: block;
		float: none;
		position: relative;
		text-align: center;
	}
}
/*Tamaño Small*/
/*Se ejecuta cuando la resolucion es menor que 700px*/
@media (max-width: 700px){
	header{
		position: static;
		text-align: center;
	}
	header nav{
		display: block;
		margin-left: 0;
	}
	header nav li{
		display: block;
		padding: 10px 0;
	}
	.contenedor-inicial,
	.contenedor-inicial-contacto{
		margin: 0;
		background: none;
	}
	.contenedor-inicial-contacto{
		min-height: 50px;
	}	
	.contacto-caja1{
		width: 90%;
	}	
	.contacto-caja2{
		width: 90%;
	}
	.contacto-caja1 input{
		margin-bottom: 20px;
	}
	.contacto-caja2 textarea{
		margin-bottom: 20px;
	}
	.main-title,
	.main-title +p{
		display: none;
	}
	.buscador{
		margin-top: 0;
	}
	.buscador button{
		width: 30%;
		font-size: 17px;
	}
	.pricing-title{
		font-size: 28px;
		padding: 0;
		padding-top: 10%;
	}
	.pricing-title +p{
		margin-top: 5%;
	}
	.pricing-boxes{
		margin-top: 10%;
	}
	.caracteristicas{
		float: none;
		width: 100%;
	}
	.imagen-mitad{
		float: none;
		width: 50%;
		margin: 50px auto;
	}
	.caract-izq article{
		text-align: left;
		padding-right: 0;
		padding-left: 60px;
	}
	.caract-izq article img{
		left: 0;
	}
	.contenedor-secundario{
		background-size: 100%;
		margin-top: 30px;
	}
}
/*Tamaño Extra-Small*/
/*Se ejecuta cuando la resolucion es menor que 480px*/
@media (max-width: 480px){
	.buscador input[type=search]{
		font-size: 15px;
	}
	.buscador button{
		width: 30%;
		font-size: 15px;
	}
	.servicios-destacados{
		margin-top: : 40px;
	}
	.servicios-destacados article{
		float: none;
		width: 100%;
		min-height: 0;
		margin-bottom: 60px;
	}
	.contenedor-secundario h2{
		padding-top: 30px;
	}
	.pricing-boxes{
		margin-top: 50px;
	}
	.box-price{
		width: 45%;
		margin: 2.5%;
	}	
}